a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: auto;
  background-image: url("img/Home.jpg");
  background-color: rgba(255,255,255,0.5);
  opacity: 0.7;
  /*height: 100%; */
  /*min-height: 100%;*/
}

.site-wrapper-inner {
  display: table-cell;
  margin-top: 250px;
}

.cover-heading {
  color: #fff;
  margin-bottom: 80px;
}


/* Padding for spacing */
.inner {
  padding: 30px;
  margin-top: 50px;
}



/*
 * Header
 */
.masthead-brand {
  
  margin-bottom: 50px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
  
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
    color: #fff;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  border-color: #fff;
  
}
.lead{
  color: #fff;
}
.lead1{
  display:flex;
  justify-content: center;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  
  .masthead {
    
    top: 0;
  }
}

@media (min-width: 1200px){

.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
}
}

